#dw__toc { padding: 8px; width: 33%; }
.page img { margin: 8px; }
.section-title, #writtensidebar h1 { text-transform: uppercase; }
#writtensidebar h1 { border: 0px !important; font-size: 25px !important; }
/*body { background-color:#ECEBEB !important; }*/
.page li, .page dd { display: block; margin: 0.85em 0px 0px 1em; }
input, select, button { border-radius: 4px; }
#dw__search input, #dw__search button { height: 20px; padding: 8px; margin-right: 8px; }
#dw__search button { position: relative; top: 4px; }
.reminder { vertical-align: top; }
button { margin-right: 8px; margin-bottom: 8px; color: black !important; }
.notify a:link, .notify a:visited { color: #747889; }

footer a:link, footer a:visited {
	background: #fff;
	color: #85AD90;
	padding: 0 5px;
	margin-left: 4px;
	border-radius: 4px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

#writtensidebar li { /*display: block;*/ /*padding: 0px;*/ /*margin: 0px; */}
#writtensidebar a:link, #writtensidebar a:visited { background-image: none; padding: 0px; }

#writtensidebar div.level1 {
	padding: 20px;
	background-color: #FFF;
	border-radius: 4px;
	margin-bottom: 10px;
}

.breadcrumbs {
	color: #A7A7A7;
	font-size: 12px;
	display: inline-block;
	margin: 0 10px 10px 0;
}

footer {
	color: #F7F7F7;
}
footer span, footer p, .doc, .license { margin: 1em 0px; }

.notify {
	/*background-color: #F7F7F7 !important;*/
	border-radius: 4px !important;
	padding: 8px !important;
	padding-left: 32px !important;
	margin-bottom: 8px !important;

	background-color: #99DEAB !important;
	color: white !important;
	font-weight: bold !important;
}

.page h2, .page h3, .page h4, .page h5, .page h6, #writtensidebar h1 {
	color: #99DEAB;
	border-radius: 4px;
	padding: 10px 0;
	/*font-size: 25px;*/
	font-weight: 700;

	margin-bottom: 20px;
	border-bottom: 1px solid #E2E2E2;
	display: block;
}

.page h1 {
	background: #99DEAB;
	color: #fff;
	border-radius: 4px;
	display: table;
	padding: 10px;
	font-size: 25px;
	font-weight: 700;
}

#config__manager .label { white-space: unset; font-size: unset; color: unset; display: block; }
#config__manager td.label span.outkey { font-size: 85%; }