@media (max-width: 767px) {
	.goal-summary {
		text-align: center;
		padding: 0px 40px;
	}
}
@media (max-width: 480px) {
	.goal-summary {
		padding: 0px;
	}
}

@media (max-width: 767px) {
	.signup-input {
		width: 75%;
		max-width: 100%%;
	}
}
@media (max-width: 480px) {
	.signup-input {
		width: 100%;
		max-width: 100%%;
	}
	.sign-up-form .btn.btn-signup {
		margin:10px 0px;
		width:100%;
		display:block;
	}
}

/* media manager and config manager for mobile */
@media screen and (max-width: 480px){
  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }
  /*.page li, .page dd { margin: 1.35em 0px !important; }*/
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 75%;  }

  #config__manager fieldset { width: 100%; box-sizing: border-box; margin: 0px ;}

     /* make <select> not exceed it's parent div's width */
    /* https://stackoverflow.com/q/44810056/337306 */
    div.input { display: flex; } select { width: 100%; flex-shrink: 1; }

  #config__manager fieldset td.value { width: unset; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  input, textarea,
  #config__manager td input.edit,
  #config__manager td textarea.edit { 
    max-width: 100%; 
    width: unset;
  }
}